In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Get the dataset
df = pd.read_csv('../../datasets/Salary_Data_multi.csv')
df

    YearsExperience   Age  Salary
0               1.1  21.0   39343
1               1.3  21.5   46205
2               1.5  21.7   37731
3               2.0  22.0   43525
4               2.2  22.2   39891
5               2.9  23.0   56642
6               3.0  23.0   60150
7               3.2  23.3   54445
8               3.2  23.3   64445
9               3.7  23.6   57189
10              3.9  23.9   63218
11              4.0  24.0   55794
12              4.0  24.0   56957
13              4.1  24.0   57081
14              4.5  25.0   61111
15              4.9  25.0   67938
16              5.1  26.0   66029
17              5.3  27.0   83088
18              5.9  28.0   81363
19              6.0  29.0   93940
20              6.8  30.0   91738
21              7.1  30.0   98273
22              7.9  31.0  101302
23              8.2  32.0  113812
24              8.7  33.0  109431
25              9.0  34.0  105582
26              9.5  35.0  116969
27              9.6  36.0  112635
28             10.3  37.0  122391
29             10.5  38.0  121872

In [4]:
df.shape

(30, 3)

In [5]:
# Identify X and y
X=df[['YearsExperience', 'Age']] # X may have multiple Columns => DataFrame
Y=df ['Salary' ]          # y is always single => Series

In [6]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)   # finds best fit line/ model train
model.intercept_ , model.coef_

(np.float64(-6661.987198813076), array([6153.35330145, 1836.01359426]))

In [9]:
q = [ [1,21],
     [2,21],
     [2,22]]
model.predict(q)

/opt/anaconda3/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([38047.65158211, 44201.00488355, 46037.01847782])

In [10]:
df.columns

Index(['YearsExperience', 'Age', 'Salary'], dtype='object')