In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# Get the dataset
df = pd.read_csv('../../datasets/Salary_Data_1.csv')
df

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
df.shape

(30, 2)

In [9]:
# Identify X and y
X=df[['YearsExperience']] # X may have multiple Columns => DataFrame
Y=df ['Salary' ]          # y is always single => Series

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)   # finds best fit line/ model train
model.intercept_ , model.coef_

(np.float64(25792.200198668696), array([9449.96232146]))

In [16]:
model.predict([[10]])

/opt/anaconda3/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([120291.82341322])